*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.input {
  visibility: hidden;
}
.label {
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: lightgrey;
  border-radius: 20px;
  cursor: pointer;
}
.circle {
  background-color: white;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  top: 3px;
  position: absolute;
  left: 3px;
}
.input:checked + .label {
  background-color: white;
}
.input:checked + .label .circle {
  animation: toggleOn 0.4s linear forwards;
  background-color: black;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}
