*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: darkcyan;
  color: aliceblue;
  padding: 20px;
  border-radius: 10px;
}

.input {
  width: 100%;
  font-size: 20px;
  height: 30px;
}

.payment {
  font-weight: 600;
  font-size: 20px;
}
